/* GLOBAL */
:root {
	--bg: #282828;
	--bg-code: #1d2021;
	--bg-alt: #32302f;
	--fg: #ebdbb2;
	--fg-code: #fbf1c7;
	--fg-alt: #d5c4a1;
	--fg-link: #d79921;
	font-family: sans-serif;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	max-width: 920px;
	margin: 0 auto;
	padding: 1rem;
}

html {
/*	background-color: #696969;*/
	scroll-behavior: smooth;
}

article {
	padding-bottom: 2rem;
	border-bottom: 1px solid var(--fg);
}

/* TABLES */
table, th, td {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 70%;
}

th, td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

th {
	border-bottom: 1px solid var(--fg);
}

tr:nth-child(odd) {
	background-color: var(--bg-alt);
}

/* CODE */
pre {
	background-color: var(--bg-code);
	color: var(--fg-code);
	font-size: medium;
	font-family: monospace;
	tab-size: 8;
	padding: 4px;
}
/*
:not(pre) > code {
	background-color: #f9f4d7;
	color: #504945;
}
*/

/* LISTS */
li {
	font-size: medium;
}

ol, ul {
	margin-left: 8%;
	padding-left: 0px;
}

::marker {
	font-weight: bold;
}

/* PARAGRAPHS */
p {
	font-size: medium;
	padding-left: 20px;
	padding-right: 20px;
}

/* HEADINGS */
h1, h3, h5 {
	text-decoration: underline;
}

h2, h4, h6 {
	background-color: var(--bg-alt);
}

h1 { font-size: xx-large; }
h2 { font-size: x-large; }
h3 { font-size: large; }
h4, h5, h6 {
	font-size: medium;
	font-weight: bold;
}

/* LINKS */
a {
	color: var(--fg-link);
}

/* FOOTER */
footer {
	border: 1px solid var(--fg);
	margin-top: 5rem;
}

footer p {
	font-size: x-small;
	margin: 0;
	padding: 10px;
}

/* HEADER */
#thumb {
	border-radius: 50%;
	bottom: 0;
	height: auto;
	left: 0;
	margin: auto;
	max-width: 80%;
	max-height: 80%;
	right: 0;
	top: 0;
	position: absolute;
	width: auto;
}

#thumb-container {
	float: left;
	height: 80px;
	padding-right: 40px;
	position: relative;
	width: 80px;
}
@media (max-width: 550px) {
	#thumb-container {
		display: none;
	}
}

#links {
	float: left;
	overflow: vsible;
}

#links a {
	font-weight: bold;
	letter-spacing: normal;
	padding-right: 10px;
}

header {
	border: 1px solid var(--fg);
	font-size: medium;
	height: 80px;
	line-height: 80px;
	text-align: left;
	overflow: auto;
}
